<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MEPUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
    <MEPUtils.Properties.Settings>
      <setting name="PipeCreator_SelectedPipeTypeName" serializeAs="String">
        <value />
      </setting>
      <setting name="MoveToDistance_DistanceValueFromLast" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CountWelds_PathToExportJson" serializeAs="String">
        <value />
      </setting>
      <setting name="SetTags_pathToDataFile" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="SU_TypeTablePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SU_LoadTablePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SU_TypeTableFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="SU_LoadTableFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="InputPowerText" serializeAs="String">
        <value />
      </setting>
      <setting name="InputTempSupplyText" serializeAs="String">
        <value />
      </setting>
      <setting name="InputTempReturnText" serializeAs="String">
        <value />
      </setting>
    </MEPUtils.Properties.Settings>
  </userSettings>
</configuration>
