<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mg.revit-shared-utilities" version="2021.1.2.20800" targetFramework="net48" />
  <package id="morelinq" version="3.3.2" targetFramework="net47" />
  <package id="NLog" version="4.7.0" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.0" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>