<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <!--<target name="file" xsi:type="File" fileName="degbug.log.txt" layout="${time}|${level:uppercase=true}|${logger}|${message}" />-->
    <target name="file" xsi:type="File" fileName="degbug.log.txt" layout="${time}|${level:uppercase=true}|${message}" />
    <target name="logconsole" xsi:type="Console" layout="${time}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" level="Debug,Error" writeTo="file" enabled="true" />
    <logger name="*" level="Info,Warn,Error" writeTo="file" enabled="true" />
  </rules>
</nlog>