<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mg.revit-shared-utilities" version="2019.1.6.15007" targetFramework="net47" />
  <package id="morelinq" version="3.1.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net47" />
</packages>